<div >
  <div class='card-header col-md-10'>
    <div class="dish-card">
  <div class="card-header">
    {{state.state_name}}
  </div>
  <div class="card-body">
    <p>
      Capital:
      {{state.capital}}
      <br>
      Size:
      {{state.size}}
      <br>
      Fun Fact:
    </p>
  </div>
</div>

    <h2>
      Posts about this State
    </h2>
  </div>
  <div>
  {{#each state.posts as |post|}}
  <div class="bg-light">
    <div class='col-md-5'>
      <p>
        {{post_text}}.
        {{id}}
      </p>
    </div>
    <div class='col-md-7'>
      <p>
        User:
        {{user_id}}
      </p>
    </div>
  </div>
  {{/each}}
  {{#if loggedIn}}
  <input type="text" id="newPost"></input>
  <button class="btn btn-primary">Create Post Test</button>
  {{else}}
  <a href="/">Log in</a><p>or</p><a href="/">Sign up</a><p>to create posts!</p>
  {{/if}}

  </div>